/* 

    Name: Rick Smith
    Date: 04/23/2024

    Part 5: Add Style

    In the arrays.css file add the following.

        Add style to the web page
        Add background colors and/or images
        Add borders around the sections and the table cells
        Add some padding and/or margins
        Add some shadows
        Add additional style to make the web page look a little nicer
*/

@charset "utf-8";

/************************************************** Reset ****************************************************/

article, aside, figcaption, figure,
footer, header, main, nav, section { 
   display: block;
}

address, article, aside, blockquote, body, cite, 
div, dl, dt, dd, em, figcaption, figure, footer, 
h1, h2, h3, h4, h5, h6, header, html, img, 
li, main, nav, nav a, ol, p, section, span, ul,
table, tr, td, th, col, colgroup {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   background: transparent;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;  
}


/* Set the default page element styles */

body {
   line-height: 1.2em;
}

ul, ol {
   list-style: none;
}

nav ul {
   list-style: none;
   list-style-image: none;
}

nav a {
   text-decoration: none;
}

/************************************************** End Reset ****************************************************/

/********************************************* HTML and Body styles ************************************************/


html {
    background: url("../images/background.webp");
    min-height: 100%;
}

body {
    margin: 0 auto;
    padding: 2rem;
    min-width: 340px;
    max-width: 1020px;
    width: 100%;
    min-height: 100%;
    background: #f5deb3;
       box-shadow: rgb(51, 51, 51) 10px 0px 40px,  rgb(51, 51, 51) -10px 0px 40px;
}

table {
    border: solid black 3px;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: solid black 1px;
    padding: 0.5rem; 
}

ul {
    list-style: disc;
    margin-left: 3rem;
}

h1 {
    text-align: center;
    font-size: 1.6em; 
    margin: 1.5rem 0; 
    text-decoration: underline;
}

h2 {
    font-size: 1.4em; 
    margin: 1rem 0; 
}

h4 {
    font-size: 1.2em;
    margin: 0.5rem 0; 
}

div {
    background-color: tan;
    border: solid black 2px;
}

div#allColors {
    background: linear-gradient(to bottom,
            orange,
            yellow,
            pink,
            brown,
            red,
            green,
            blue,
            purple);
}

div#allColors {
    background: linear-gradient(to bottom,
            orange,
            yellow,
            pink,
            brown,
            red,
            green,
            blue,
            purple);
}

div#pColors {
    background: linear-gradient(to bottom,
            pink,
            purple);
}

div#nonBColors {
    background: linear-gradient(to bottom,
            orange,
            yellow,
            pink,
            red,
            green,
            purple);
}

div#filterColors {
    background: linear-gradient(to bottom,
            orange,
            pink,
            brown,
            green);
}

footer {
    display: block;
    text-align: center;
    padding: 1rem; 
    background-color: #d79800; 
    color: white;
    margin-top: 2rem;
}
