@charset "utf-8";

/*

   Columns Style Sheet
   Author: 
   Date:   

   Filename:         dlr_columns2.css

*/



/* Column Styles */



@media screen and (min-width: 641px) {
    p {
        column-count: 3;
        column-gap: 20px;
        border-left: 1px solid black;
		border-right: 1px solid black;		
    }
}



