/*

   
   Author: Rick Smith
   Date: 03/29/2024   

   Filename: pet_forms.css

*/

/* Form Layout Styles */

form {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

form > fieldset {
    -webkit-flex: 1 1 300px;
    flex: 1 1 300px;
    background-color: #BFDBF7;
    border-radius: 20px;
    font-size: .85em;
    padding: 10px;
    margin: 10px;
}

form > fieldset:nth-of-type(2){
    background: #BFDBF7 url(../images/pet_trophy.png) no-repeat;
    background-position:calc(100% - 10px) calc(100% - 10px);
    background-size: 100px auto;
}

.formRow {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    padding: 7px 0px;
}

.formRow > * {
    -webkit-flex: 1 1 150px;
    flex: 1 1 150px;
}

/* Legend Styles */
legend {
    background-color: #294C60;
    color: white;
    padding: 5px;
}

/* Text Area Styles */
textarea {
    margin: 10px;
    height: 100px;
    width: 95%;
}

/* Spinner Styles */
/* See Tutorial 5 for details on using a flexible layout */

.formRow > option {
    -webkit-flex: 0 0 50px;
    flex: 0 0 50px;
}

/* Form Button Styles */
div#buttons {
    text-align: center;
    width: 100%;
}

input[type="submit"],
input[type="reset"] {
    font-size: 1.2em;
    margin: 0px 10px;
    color: white;
    background: #294C60;
    padding: 10px 40px;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background: #001B2E;
}

/* Validation Styles */

input#ownerNameBox:focus:valid,
input#ownerPhoneBox:focus:valid,
input#ownerEmailBox:focus:valid {
    background: rgb(220, 255, 220) url(../images/valid.png) bottom right/contain no-repeat;
}

input#ownerNameBox:focus:invalid,
input#ownerPhoneBox:focus:invalid,
input#ownerEmailBox:focus:invalid {
    background: rgb(255, 232, 233) url(../images/invalid.png) bottom right/contain no-repeat;
}
