@charset "utf-8";

/*
  
    Author: Rick Smith
    Date: 03/29/2024     
    Filename: pet_styles.css

*/


/* HTML and Body styles */

html {
    background: #FFFAB4 url(../images/paw_prints.jpg);
    background-size: contain;
    font-family: Verdana, Geneva, sans-serif;
    height: 100%;
}

body {
    background: #ADB6C4;
    background-image: url(../images/pet_background2.png);
    box-shadow: rgb(51, 51, 51) 20px 0px 40px, rgb(51, 51, 51) -20px 0px 40px,
        inset rgb(51, 21, 21) 0px 0px 40px;
    min-height: 100%;
    margin: 0px auto;
    min-width: 320px;
    max-width: 1020px;
    width: 100%;
    display: flex;
    flex-direction: column
}


/* Header styles */

header {
    background: #001B2E url(../images/paw_print.png) no-repeat left center;
    background-position: 20px center;
    color: white;
    text-align: center;
    line-height: 1.4em;
    padding: 15px 0px;
}

section {
    margin:20px;
    flex-grow: 1;
}


section p {
    line-height: 1.4em;
    margin: 15px 0px;
}

/* Footer styles */

footer {
    color: white;
    text-align: center;
    background: #001B2E;
    padding: 20px 40px;
    flex-shrink: 0;
}