@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Alatsi');



html {
    background-color: #7D7467;
    color: #FDFFFC;
}

body {
    background: radial-gradient(circle, #687067, #2E2F2E);
    font-family: 'Alatsi', serif, sans-serif;
    font-size: 20px;
    box-shadow: rgb(51, 51, 51) 10px 0px 40px,  rgb(51, 51, 51) -10px 0px 40px;
}

header {
    position: relative;
    height: 125px;
    overflow: hidden;
    border-bottom: 2px solid #F0C505;
}

header .background img {
    background-size: cover;
    background-repeat: no-repeat;
}

header .overlay img {
    width: auto; 
    height: 100px; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav {
    background-color: #6b677d;
    text-align: center;
    font-size: 0.8em;
    
}

nav > ul {
    line-height: 1.2em;
    list-style: none;
    list-style-position: outside;
}

nav li{
    padding: 20px 50px;    
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 40px;
}

nav li:first-of-type{
    background-image: url(../icons/gears.png);
    
}

nav li:nth-of-type(2){
    background-image: url(../icons/wrench.png);
}

nav li:last-of-type{
    background-image: url(../icons/build.png);
}

a:link, 
a:visited {
    color: #FDFFFC;
    text-decoration: none;
    transition: 0.3s ease;
}

a:active, 
a:hover {
    color: #F0C505;
    text-decoration: underline;
}

main {
    padding: 20px;
    justify-content: center;
}

main h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    padding: 0 0 10px;
    text-shadow: -2.5px 2.5px 5px black;
}

.activity{
    padding: 20px;
    border-radius: 5px;
    background-color: #6b677d;
    transition: 0.3s ease;
    -webkit-filter: grayscale(0.5);
    filter: grayscale(0.5);
}

.activity:nth-of-type(odd){
    transform: perspective(1000px) rotateY(10deg);
    box-shadow: -2.5px 2.5px 5px black;
}
.activity:nth-of-type(even){
    transform: perspective(1000px) rotateY(-10deg);
    box-shadow: 2.5px 2.5px 5px black;
}
.activity:nth-last-of-type(odd):last-of-type {
    transform: perspective(1000px) rotateX(5deg);
    box-shadow: 0px 2.5px 5px black;
}

.activity:hover, .activity:nth-last-of-type(odd):last-of-type:hover{
    transform: rotateX(0deg) rotateY(0deg);
    transition: 0.3s ease;
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    box-shadow: 0px 2.5px 5px black;
}

.activity img{
    border-width: 2px;
    border-color: #F0C505;
    border-style: solid;
    border-radius: 5px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.activity img:hover{
    
}

.activity dt {
    font-size: 1.5em;
    font-weight: normal;
    line-height: 1em;
    text-align: center;
}

.activity dd:first-of-type {
    text-align: justify;
    font-weight: lighter;
    
}

.activity dd:first-of-type::before {
    content: "\A";
    white-space: pre;
}

.activity dd:nth-of-type(2)::before {
    content: "\A - ";
    white-space: pre;
}

.activity dd:nth-of-type(2) {
    text-align: right;
    font-weight: lighter;
    font-style: italic;
}


footer {
    padding: 20px;
    text-align: center;
    border-top: 2px solid #F0C505;
    background-image: url(../images/background1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
